{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <style>
        #calender{
            width: 80%;
            margin: auto;
        }
    </style>
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">#}

{% endblock %}

{% block body %}
    <div class="container_ mt-5">
        <div class="row">
        <div class="col-md-12">
            <div id="calender">
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>

        // document.addEventListener('DOMContentLoaded', function() {
        window.onload = () => {
            let calendarEl = document.getElementById('calender');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek', // dayGridMonth // dayGridWeek // dayGridDay // timeGridWeek
                 local:'fr',
                 timeZone:'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,dayGridWeek,dayGridDay',
                },
                // timeZone: 'UTC',
                events: {{ data|raw }}
            });
            calendar.render();
        };

    </script>

{% endblock %}














{#// document.addEventListener('DOMContentLoaded', function() {#}
{#//     // console.log('welah its fechkel');#}
{#//     var calendarEl = document.getElementById('calender');#}
{#//     var calendar = new FullCalendar.Calendar(calendarEl, {#}
{#//         initialView: 'dayGridMonth'#}
{#//     });#}
{#//     calendar.render();#}
{#// });#}


{#document.addEventListener('DOMContentLoaded', function() {#}
        {#    let calendarElt = document.querySelector("#calender")#}

        {#    let calendar = new FullCalendar.Calendar(calendarElt, {#}
        {#        initialView: 'timeGridWeek',#}
        {#        locale: 'fr',#}
        {#        timeZone: 'Europe/Paris',#}
        {#        headerToolbar: {#}
        {#            start: 'prev,next today',#}
        {#            center: 'title',#}
        {#            end: 'dayGridMonth,timeGridWeek'#}
        {#        },#}
        {#        #}{#events: {{ data|raw }},#}
        {#        editable: true,#}
        {#        eventResizableFromStart: true#}
        {#    })#}
        {#    calendar.render();#}
        {#});#}
